/**
  * Login Configuration for JAAS with the realm name defined as CAS.
  */
CAS {
    //Kdc login module
    com.sun.security.auth.module.Krb5LoginModule sufficient
        debug=FALSE
        storePass=TRUE
        clearPass=FALSE
        refreshKrb5Config=TRUE
        useKeyTab=TRUE
        storeKey=TRUE
        principal="cas/penguin.local"
        keyTab="/etc/cas/cas.keytab";
};